<div class="container d-flex justify-content-center container-titulo">
    <div class="row">
        <div class="col-md-12">
            <h1>COROLLA CROSS</h1>
            <img src="/corollacrossanalise.jpg" alt="corola cross" width="775px" height="475px">
            <hr>    
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-7">
        <p>O Toyota Corolla Cross tem se destacado no mercado de SUVs compactos, conquistando um público cada vez maior. Com design moderno, tecnologia embarcada e a confiabilidade característica da Toyota, o modelo oferece uma experiência de condução agradável e eficiente.</p>
        <hr>
        <h3>Design</h3>
        <p>O Corolla Cross apresenta um design robusto e elegante, com linhas fluidas e detalhes cromados que conferem um ar sofisticado ao veículo. A grade frontal imponente, os faróis em LED e as lanternas traseiras com assinatura luminosa única contribuem para a identidade visual do modelo.</p>
        <hr>
        <h3>Interior</h3>
        <p>O interior do Corolla Cross é bem acabado e oferece um ambiente confortável para os ocupantes. O painel é intuitivo e os materiais empregados transmitem uma sensação de qualidade. A versão híbrida, por exemplo, conta com um painel de instrumentos digital configurável, que oferece diversas informações ao motorista.</p>
        <hr>
        <h3>Motorização</h3>
        <p>O Corolla Cross é oferecido com duas opções de motorização, 1.8 Flex ou Híbrido.</p>
        <p>1.8 Flex: Motor de 1.8 litros que oferece bom desempenho e economia de combustível</p>
        <p>Híbrido: Combina um motor a gasolina com um motor elétrico, proporcionando um consumo de combustível ainda mais eficiente e emissões reduzidas.</p>
        <hr>
    </div>
</div>
