h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    letter-spacing: 8px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.container-titulo{
    margin-top: 20px;
}

.card{
    margin-bottom: 350px;
    background-color: transparent;
    border: none;
    margin-top: 180px;
}

@media (max-width: 768px){
    img{
        width: 350px;
        height: 220px;
    }

    h1{
        font-size: 30px;
    }
}