<div class="container d-flex justify-content-center container-titulo">
    <div class="row">
        <div class="col-md-7">
            <h1>T-CROSS</h1>
            <img src="/tcrossanalise.webp" alt="corola cross" width="775px" height="475px">
            <hr>
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-7">
        <p>O Volkswagen T-Cross conquistou rapidamente o coração dos brasileiros, consolidando-se como um dos SUVs compactos mais vendidos do país. Sua combinação de design moderno, bom espaço interno e a confiabilidade da marca alemã o tornaram uma opção bastante atraente.</p>
        <hr>
        <h3>Design</h3>
        <p>O T-Cross apresenta um design robusto e moderno, com linhas bem definidas e uma frente imponente. A grade frontal com o logo da Volkswagen, os faróis em LED e as lanternas traseiras com assinatura luminosa única contribuem para a identidade visual do modelo.</p>
        <hr>
        <h3>Interior</h3>
        <p>O interior do T-Cross é bem acabado e oferece um bom espaço para os ocupantes, especialmente na frente. O painel é intuitivo e os materiais empregados transmitem uma sensação de qualidade. A versão Highline, por exemplo, conta com uma central multimídia com tela sensível ao toque e compatibilidade com Android Auto e Apple CarPlay</p>
        <hr>
        <h3>Motorização</h3>
        <p>O T-Cross é oferecido com duas opções de motorização:</p>
        <p>1.0 TSI: Motor 1.0 turbo flex que oferece um bom desempenho e economia de combustível.</p>
        <p>1.4 TSI: Motor 1.4 turbo flex mais potente, ideal para quem busca um desempenho mais esportivo.</p>
        <hr>
    </div>
</div>