<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-texto">
                <div class="card-body">
                    <h1>Confira Nossos Serviços em Oferta!</h1>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let servico of servicos">
            <div class="card rouded-3">
                <img src="{{ servico.imagem }}" alt="serviços">
                <div class="card-body">
                    <h5 class="title"> {{ servico.nome }}</h5>
                    <p class="card-text">{{ servico.descricao }}</p>
                    <button (click)="adicionarAoCarrinho(servico)" class="btn btn-primary"> Adicionar ao Carrinho </button>
                </div>
            </div>
        </div>
    </div>
</div>
