<div class="container d-flex justify-content-center container-titulo">
    <div class="row">
        <div class="col-md-12">
            <h1>BYD SEAL</h1>
            <img src="/byd-seal.webp" alt="corola cross" width="775px" height="475px">
            <hr>    
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-7">
        <p>O BYD Seal, sedan elétrico da fabricante chinesa BYD, tem se destacado no mercado global por sua combinação de design elegante, desempenho impressionante e tecnologia de ponta. Com um visual que remete a modelos esportivos, o Seal oferece uma experiência de condução dinâmica e silenciosa, além de uma autonomia considerável.</p>
        <hr>
        <h3>Design</h3>
        <p>O design do BYD Seal é moderno e aerodinâmico, com linhas fluidas e um perfil esportivo. A dianteira chama atenção pela grade fechada e pelos faróis afilados, enquanto a traseira apresenta lanternas em LED conectadas por uma faixa luminosa. O resultado é um visual elegante e contemporâneo que o diferencia de outros sedãs elétricos.</p>
        <hr>
        <h3>Interior</h3>
        <p>O interior do Seal é espaçoso e bem acabado, com materiais de boa qualidade e um design minimalista. O destaque fica por conta da grande tela central touchscreen que controla praticamente todas as funções do veículo. O painel de instrumentos digital é personalizável e oferece diversas informações ao motorista.</p>
        <hr>
        <h3>Motorização</h3>
        <p>O BYD Seal oferece diferentes opções de motorização, com versões de tração traseira e integral, e níveis de potência variados. A aceleração é impressionante, graças aos motores elétricos potentes e ao torque instantâneo. A suspensão é bem ajustada, proporcionando um bom equilíbrio entre conforto e esportividade.</p>
        <hr>
    </div>
</div>

