<div class="container d-flex justify-content-center container-titulo">
    <div class="row">
        <div class="col-md-12">
            <h1>HONDA FIT</h1>
            <img src="/fitanalise.jpg" alt="corola cross" width="775px" height="475px">
            <hr>    
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-7">
        <p>O Honda Fit é um hatchback compacto que se destaca pela sua versatilidade, economia de combustível e design funcional. Ao longo das gerações, o Fit conquistou uma legião de fãs, graças ao seu espaço interno inteligente e à confiabilidade da marca Honda.</p>
        <hr>
        <h3>Design</h3>
        <p>O design do Fit evoluiu ao longo das gerações, mas sempre manteve sua identidade marcante. As linhas arredondadas e o para-brisa inclinado conferem ao veículo um aspecto moderno e aerodinâmico.</p>
        <hr>
        <h3>Interior</h3>
        <p>A verdadeira magia do Fit, no entanto, está em seu interior. O sistema de rebatimento dos bancos "Magic Seat" é um dos destaques, permitindo diversas configurações do espaço interno, o que o torna extremamente versátil para transportar objetos grandes ou acomodar até quatro adultos com conforto.</p>
        <hr>
        <h3>Motorização</h3>
        <p>O Fit é equipado com motores eficientes e econômicos, geralmente com opções flex. O motor 1.5 litros é o mais comum, oferecendo um bom equilíbrio entre desempenho e consumo de combustível. A suspensão é ajustada para proporcionar um bom conforto e estabilidade em diferentes tipos de piso.</p>
        <hr>
    </div>
</div>


