<div class="container d-flex justify-content-center container-titulo">
    <div class="row">
        <div class="col-md-12">
            <h1>LAND ROVER DISCOVERY</h1>
            <img src="/landanalise.jpg" alt="corola cross" width="775px" height="475px">
            <hr>    
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-7">
        <p>O Land Rover Discovery é um SUV de luxo que combina a robustez e a capacidade off-road características da marca com um interior sofisticado e repleto de tecnologia. É um veículo ideal para famílias que buscam aventura e conforto, capaz de enfrentar os mais diversos terrenos.</p>
        <hr>
        <h3>Design</h3>
        <p>O design do Discovery é imponente e atemporal, com linhas robustas e elementos que remetem à sua história off-road. A carroceria elevada, os ângulos de ataque e saída generosos, e a suspensão a ar ajustável proporcionam uma capacidade off-road excepcional, permitindo que o veículo enfrente trilhas desafiadoras e terrenos acidentados com facilidade.</p>
        <hr>
        <h3>Interior</h3>
        <p>O interior do Discovery é um show à parte, com materiais de alta qualidade, acabamento impecável e um design moderno. O espaço interno é generoso, acomodando confortavelmente até sete passageiros. A tecnologia embarcada é abundante, com uma central multimídia intuitiva, painel de instrumentos digital configurável e uma série de assistentes de condução.</p>
        <hr>
        <h3>Motorização</h3>
        <p>O Discovery oferece uma gama de motorizações, incluindo opções a diesel e a gasolina, além de versões híbridas plug-in. Os motores são potentes e oferecem um desempenho ágil, tanto em estrada quanto em off-road. A transmissão automática é suave e precisa, e a tração integral é de série em todas as versões.</p>
        <hr>
    </div>
</div>
