<div class="body">
    <div class="container d-flex justify-content-left">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h1>Bem Vindo a <br> FB Motors</h1>
                        <br>
                        <p>Aqui você encontra os melhores carros com os melhores preços!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
