<div class="container d-flex justify-content-center container-titulo">
    <div class="row">
        <div class="col-md-12">
            <h1>FIAT CRONOS</h1>
            <img src="/fiatanalise.webp" alt="corola cross" width="775px" height="475px">
            <hr>    
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-7">
        <p>O Fiat Cronos se consolidou como um dos sedãs compactos mais populares do mercado brasileiro, conquistando o público com seu design moderno, bom espaço interno e um bom custo-benefício.</p>
        <hr>
        <h3>Design</h3>
        <p>O Cronos apresenta um design elegante e esportivo, com linhas marcantes e uma dianteira imponente. A grade frontal, os faróis e as lanternas traseiras conferem ao veículo uma aparência moderna e atraente.</p>
        <hr>
        <h3>Interior</h3>
        <p>O interior do Cronos é bem acabado e oferece um bom espaço para os ocupantes. O painel é intuitivo e os materiais empregados transmitem uma sensação de qualidade. A versão Drive, por exemplo, conta com uma central multimídia com tela sensível ao toque e compatibilidade com Android Auto e Apple CarPlay.</p>
        <hr>
        <h3>Motorização</h3>
        <p>O Fiat Cronos é oferecido com duas opções de motorização, 1.3 Firefly ou 1.8 E.torQ.</p>
        <p>1.3 Firefly: Motor de 1.3 litros que oferece um bom equilíbrio entre desempenho e economia de combustível.</p>
        <p>1.8 E.torQ: Motor 1.8 litros mais potente, ideal para quem busca um desempenho mais esportivo.</p>
        <hr>
    </div>
</div>

